#description-wrap{
	width: 40%;
}
#description-div{
    position: absolute;
    width: 80%;
    top: 30%;
}
body{
	margin:0 2em;
}
p{
	color:#fff;
}
h1,h2,h3,h4,h5{
	margin:1em 0;
}
h3{
	font-size:3em;
	font-weight:200;
}
h1{
	font-size: 3em;
    color: #fff;
    font-weight: 300;
}
h5{
	font-size:1.125em;
}
.background_video-wrap{
	position:relative;
}
.video{
	margin-left: 25%;
	height:35.18em;
	max-width:62.5em;
	width:71%;
}
.buttom_style1{
	padding:1em;
	color:#fff;
	background-color:#cf9b59;
}
.body-wrap{
	max-width:85.37em;
	margin:0 auto;
}
.body-wrap::after{
	content:"";
	display:table;
	clear:both;
}
.one_section-wrap{
	width:100%;
}
.one_section-wrap::after{
	content:"";
	display:table;
	clear:both;
}
.addon-wrap{
	float: left;
    width: 30%;
    background-position: center;
    height: 32em;
    background-repeat: no-repeat;
    background-size: 27em auto;
	margin:1%;
}

.addon-div{
	background-color: rgba(27, 19, 8, 0.4);
    height: inherit;
}

.vertical_block-div{
	width: 4%;
    height: 35em;
    float: right;
}

.vertical_block-div p{
    transform-origin: 0 200% 0;
	transform: rotate(90deg);
    width: 13em;
    margin-top: 20em;
	color: #d19e52;
}

.learn_more-but::before{
    float: left;
    content: " ";
    border-bottom: 2px solid;
    border-left: 1px solid;
    height: 5em;
    width: 1.4375em;
    position: relative;
    right: 1.5em;
    bottom: 4.3em;
    margin-right: -2em;
}


.view_detail-but_noborder{
	position: relative;
    top: 2.875em;
	float: left;
    margin-left: 50%;
    margin-top: -2.3%;

}

.view_detail-but{
	position: relative;
    top: 2.875em;
}

.view_detail-but::before{
    float: left;
    content: "";
    border-bottom: 2px solid;
    border-left: 2px solid;
    height: 35em;
    width: 24em;
    position: relative;
    bottom: 31.4em;
    right: 16em;
    margin-right: -15.8em;
}

.line_thought{
	text-decoration:line-through;
	text-decoration-color: #d19e52;
}

.underline{
	border:1px solid;
	width:4em;
	margin-bottom:1em;
}

.button_style2{
	border: 1px solid;
    padding: 8px 23px;
	transition:background-color 0.6s;
}

.button_style2:hover{	
	background-color: #1a1208;
}

.addon_description_text{
	position: relative;
    top: 35%;
    text-align: center;
}
.addon-vertical_text{
	transform-origin: center right;
    transform: rotate(90deg);
    float: right;
	position: relative;
    z-index: -1;
}

.addon-vertical_text:after{
	border-top: #cf9b59 solid 2px;
    content: " \A0";
    padding-left: 16em;
    position: relative;
    top: 21.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-right: #cf9b59 solid 2px;
	padding-top: 20.4em;
}

