.carousel_viewpoint{
	height:150px;
	width:150px;
	overflow:hidden;
}

.carousel-div {
	overflow:hidden; 
	height:100%; 
	width:400%;
}

.carousel_move {
	animation: carous_move-animation 2s infinite;
}

.carousel_item{
	position:relative;
	float:left;
	margin-left:1px;
	margin-right:1px;
}

@keyframes carous_move-animation{
	0% {left:0%;}
	50% {left:-33%;}
	100% {left:-66%;}
}


@-webkit-keyframes carous_move-animation{
	0% {left:0%;}
	50% {left:-33%;}
	100% {left:-66%;}
}