<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./style.css"/>
</head>
<body>
<div class="carousel_viewpoint">
<div class="carousel-div">
<img class="mouse-event carousel_move carousel_item carousel_viewpoint" src="./1.png"></img>
<img class="mouse-event carousel_move carousel_item carousel_viewpoint" src="./1.png"></img>
<img class="mouse-event carousel_move carousel_item carousel_viewpoint" src="./1.png"></img>
</div>
</div>
<script src="./carousel.js"></script>
</body>
</html>